/* reseting css */

*{
margin:0px;
padding:0px;
box-sizing: border-box;
}

body{
    background-color: rgb(250, 250, 247);
}

/* Navbar css code */

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    padding-left: 35px;
    padding-right: 35px;
    border:1px solid rgb(186, 180, 180);
    text-transform:uppercase;
}

ul{
    display: flex;
    align-items: center;
list-style: none;
gap:55px
}


.nav_button{
    display: flex;
    gap:26px;
    
    flex-direction: row;
}

.nav_button button:first-child{
    border:1px solid transparent;
    background-color: transparent;
    text-transform: uppercase;
}

.nav_button button:last-child{
    color:white;
    text-transform: uppercase;
    padding: 11px 15px;
    background-color: rgb(60, 56, 56);
    border:1px solid rgb(60, 56, 56);
    border-radius: 4px;
}

/* Main section css starts from here */

main{
    margin-top: 50px;
    padding:5px 40px;
    display: flex;
    justify-content: space-between;
    
}
.container_left{
    width:60%;
}
.container_left h1{
    text-transform: uppercase;
    font-size:77px;
    font-weight: 100;
    color:rgb(75, 69, 69);
    margin-bottom: 50px;
   
}

.container_left h1 span{
    color:rgb(28, 27, 27);
    font-weight: bold;
    
}

.main_section_line{
    height: 3px;
    width:280px;
    background-color: rgb(35, 33, 33);
    margin-bottom: 40px;
}

.container_left>p{
    font-size:20px;
    width: 300px;
    margin-bottom: 50px;
}

.container_left_bottom{
display: flex; gap:40px
}

.left_bottom_one{
    display: flex;
    gap:10px;
    align-items: center;
}

.left_bottom_one p{
color:white;
font-weight: bold;
font-size:20px;
padding:10px 20px;
border:1px solid black;
width: fit-content;
    height: fit-content;
    background-color: rgb(33, 30, 30);
}

.left_bottom_one button{
    border: 1px solid transparent;
    background-color: transparent;
    width:fit-content;
    height: fit-content;
    font-weight: bold;
    font-size:20px
}

.left_bottom_two{
    display: flex;
    gap:10px;
}

.left_bottom_two p{
    width:100px;
    color: rgb(68, 67, 67);
    font-weight:60px
}

.container_right img{
width:95%
}

.container_right{
    position: relative;
}

.container_right_bottom{
    
    position: absolute;
    right:10px;
    display: flex;
    align-items: center
}

.container_right_bottom img{
    width:150px; margin-right: 10px;
}

.container_right_bottom button{
    height:28px;
    width:50px;
    border-radius: 24px;
}

.container_right_bottom button span:first-child{
    border-right: 1px solid black;
}

/* Main bottom section CSS starts from here */

.main_bottom{
    margin-top: 100px;
    padding: 50px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:rgb(46, 45, 45)
}

.weight{
    border:1px solid teal;
    padding:15px 25px;
    box-shadow: 0px 0px 2px green;
}

.weight h1{
    padding-bottom: 6px;
     font-size:30px;
}

.weight p{
    font-size:12px;
    text-align: center;
}

.speed{
    border:1px solid teal;
    padding:15px 25px;
    box-shadow: 0px 0px 2px green;
}

.speed h1{
    padding-bottom: 6px;
 font-size:30px;
}

.speed p{
    font-size:12px;
    text-align: center;}

.range{
    border:1px solid teal;
    padding:15px 25px;
    box-shadow: 0px 0px 2px green;
}

.range h1{
    padding-bottom: 6px;
     font-size:30px;
}

.range p{
    font-size:12px;
    text-align: center;
}

.torque{
    border:1px solid teal;
    padding:15px 25px;
    box-shadow: 0px 0px 2px green;
}

.torque h1{
    padding-bottom: 6px;
     font-size:30px;
}

.torque p{
    font-size:12px;
    text-align: center;
}

.climbing{
    border:1px solid teal;
    padding:15px 25px;
box-shadow: 0px 0px 2px green;
}

.climbing h1{
    padding-bottom: 6px;
     font-size:30px;
}

.climbing p{
    font-size:12px;
    text-align: center;
}

.brakes{
    border:1px solid teal;
    padding:15px 25px;
    box-shadow: 0px 0px 2px green;
}

.brakes h1{
    padding-bottom: 6px;
     text-align: center;
     font-size:30px;
}

.brakes p{
    font-size:12px;
   
}

 /* Product information CSS code starts from here  */

 .product_info{
    color:rgb(47, 46, 46);
    
    padding: 40px  40px;
    
 }

 .product_info h1{
padding-bottom:20px;
font-size: 50px;
text-align: center;
 }

 .product_info>p{
padding-bottom:20px;
font-size: 20px;
text-align: center;
 }

 .Product_info_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .product_image {
width:40%;
 }

 .product_features p{
    padding-bottom:5px;
 }

 /* High efficiency section starts from here */

 .High_efficiency img {
    width:96%;
 }

 /* Multiple accessories section starts from here */

 .multiple_accessories{
    padding-top:40px;
    text-align: center;
    color: rgb(47, 46, 46);
 }

 .multiple_accessories h1{
    padding-bottom: 20px;
        font-size: 45px;
 }

 .multiple_accessories p{
    font-size:20px;
    padding-bottom: 40px;
 }

 .product_features div {
    display: flex;
    align-items: center;
    gap:10px;
    padding-bottom: 10px;
}

.accessories{
    display:flex;
    align-items: center;
    padding:30px 40px;
}

.accessories_1 div{
    display:flex;
    align-items: center;
    padding-bottom: 10px;
    gap:15px;
}

.accessories_1 h1{
    font-size:45px;
        color: rgb(47, 46, 46);
        padding-bottom: 30px;
}